* {
    vertical-align: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(red, green, blue, alpha);
    font-family: 'inter';
    box-sizing: content-box;
    align-items: baseline;
}
